body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  min-height: 100vh;
  background-color: #fff;
  padding: 20px;
  overflow-x: hidden;
}
